.root {
    background-color: rgb(42, 42, 42);
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    opacity: 1;
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0;
    margin-bottom: 6px;
    flex-grow: 1;
    align-self: stretch;
    justify-content: flex-start;
    align-items: stretch;
    border-left-color: rgb(100, 100, 100);
    border-right-color: rgb(100, 100, 100);
    border-top-color: rgb(100, 100, 100);
    border-bottom-color: rgb(100, 100, 100);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.timestamp {
    color: rgb(204, 204, 204);
    font-size: 12px;
    -unity-font-style: italic;
    align-items: center;
    align-self: center;
    white-space: normal;
}

.sender {
    -unity-font-style: bold;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    align-self: auto;
    white-space: normal;
}

.message {
    flex-grow: 1;
    margin-left: 20px;
    text-overflow: clip;
    flex-wrap: nowrap;
    width: auto;
    margin-right: 20px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    align-self: flex-start;
    white-space: normal;
}
